In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("NBA_Goat_Tracker_Data.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               89 non-null     int64
 1   Player Name              89 non-null     object
 2   PPG                      89 non-null     float64
 3   TRB                      89 non-null     float64
 4   AST                      89 non-null     float64
 5   RSMVP                    89 non-null     int64
 6   All NBA Team Selections  89 non-null     int64
 7   Championships            89 non-null     int64
 8   FMVP                     89 non-null     int64
 9   All Defensive Teams      89 non-null     int64
 10  PER                      89 non-null     float64
dtypes: float64(4), int64(6), object(1)
memory usage: 7.8+ KB

Rank PPG

In [32]:
import pandas as pd

# Assuming df contains the DataFrame with 'Player Name' and 'PPG' columns
df_ppg_rank = df[['Player Name', 'PPG']].sort_values(by='PPG', ascending=False)

# Assign points based on ranking from 20 downwards, considering higher PPG values get more points
df_ppg_rank['Points'] = 21 - df_ppg_rank['PPG'].rank(method='min', ascending=False).astype(int)

# Add a column for rank based on PPG
df_ppg_rank['Rank'] = df_ppg_rank['PPG'].rank(method='min', ascending=False).astype(int)

# Display the Player Name, PPG, Rank, and Points for the top 20 players
df_ppg_rank.head(20)[['Rank','Player Name', 'PPG', 'Points']]

    Rank          Player Name   PPG  Points
82     1     Wilt Chamberlain  30.1      20
27     1       Michael Jordan  30.1      20
75     3          Luka Dončić  28.7      18
7      4         Elgin Baylor  27.4      17
16     5         Kevin Durant  27.3      16
24     6         LeBron James  27.1      15
63     7           Jerry West  27.0      14
23     8        Allen Iverson  26.7      13
67     9           Bob Pettit  26.4      12
52    10      Oscar Robertson  25.7      11
70    11        George Gervin  25.1      10
19    11        George Gervin  25.1      10
32    11       Damian Lillard  25.1      10
34    14          Karl Malone  25.0       7
11    14          Kobe Bryant  25.0       7
6     16           Rick Barry  24.8       5
65    16    Dominique Wilkins  24.8       5
12    18        Stephen Curry  24.7       3
0     19  Kareem Abdul-Jabbar  24.6       2
9     20           Larry Bird  24.3       1

TRB Ranking

In [34]:
# Assuming df contains the DataFrame with 'Player Name' and 'PPG' columns
df_trb_rank = df[['Player Name', 'TRB']].sort_values(by='TRB', ascending=False)

# Assign points based on ranking from 20 downwards, considering higher PPG values get more points
df_trb_rank['Points'] = 21 - df_trb_rank['TRB'].rank(method='min', ascending=False).astype(int)

# Add a column for rank based on PPG
df_trb_rank['Rank'] = df_trb_rank['TRB'].rank(method='min', ascending=False).astype(int)

# Display the Player Name, PPG, Rank, and Points for the top 20 players
df_trb_rank.head(20)[['Rank','Player Name', 'TRB', 'Points']]

    Rank          Player Name   TRB  Points
82     1     Wilt Chamberlain  22.9      20
54     2         Bill Russell  22.5      19
67     3           Bob Pettit  16.2      18
33     4          Jerry Lucas  15.6      17
59     5        Nate Thurmond  15.0      16
60     6           Wes Unseld  14.0      15
7      7         Elgin Baylor  13.5      14
38     8         George Mikan  13.4      13
51     9          Willis Reed  12.9      12
68     9          Willis Reed  12.9      12
22    11          Elvin Hayes  12.5      10
35    12         Moses Malone  12.3       9
55    13        Dolph Schayes  12.1       8
73    14        Dwight Howard  11.8       7
5     15      Charles Barkley  11.7       6
0     16  Kareem Abdul-Jabbar  11.2       5
45    17      Hakeem Olajuwon  11.1       4
14    18     Dave DeBusschere  11.0       3
46    19     Shaquille O'Neal  10.9       2
17    20           Tim Duncan  10.8       1

AST Ranking

In [36]:
# Assuming df contains the DataFrame with 'Player Name' and 'PPG' columns
df_ast_rank = df[['Player Name', 'AST']].sort_values(by='AST', ascending=False)

# Assign points based on ranking from 20 downwards, considering higher PPG values get more points
df_ast_rank['Points'] = 21 - df_ast_rank['AST'].rank(method='min', ascending=False).astype(int)

# Add a column for rank based on PPG
df_ast_rank['Rank'] = df_ast_rank['AST'].rank(method='min', ascending=False).astype(int)

# Display the Player Name, PPG, Rank, and Points for the top 20 players
df_ast_rank.head(20)[['Rank','Player Name', 'AST', 'Points']]

    Rank      Player Name   AST  Points
25     1    Magic Johnson  11.2      20
57     2    John Stockton  10.5      19
52     3  Oscar Robertson   9.5      18
48     4       Chris Paul   9.3      17
58     4     Isiah Thomas   9.3      17
28     6       Jason Kidd   8.7      15
43     7       Steve Nash   8.5      14
75     8      Luka Dončić   8.3      13
24     9     LeBron James   7.4      12
71    10     James Harden   7.1      11
81    11     Nikola Jokić   7.0      10
63    12       Jerry West   6.7       9
32    12   Damian Lillard   6.7       9
64    12    Lenny Wilkens   6.7       9
12    15    Stephen Curry   6.4       6
9     16       Larry Bird   6.3       5
23    17    Allen Iverson   6.2       4
84    18     Kyrie Irving   5.7       3
47    19      Tony Parker   5.6       2
77    19      Tony Parker   5.6       2

In [37]:
# Assuming df contains the DataFrame with 'Player Name' and 'PPG' columns
df_rsmvp_rank = df[['Player Name', 'RSMVP']].sort_values(by='RSMVP', ascending=False)

# Assign points based on ranking from 20 downwards, considering higher PPG values get more points
df_rsmvp_rank['Points'] = 21 - df_rsmvp_rank['RSMVP'].rank(method='min', ascending=False).astype(int)

# Add a column for rank based on PPG
df_rsmvp_rank['Rank'] = df_rsmvp_rank['RSMVP'].rank(method='min', ascending=False).astype(int)

# Display the Player Name, PPG, Rank, and Points for the top 20 players
df_rsmvp_rank.head(20)[['Rank','Player Name', 'RSMVP', 'Points']]

    Rank          Player Name  RSMVP  Points
0      1  Kareem Abdul-Jabbar      6      20
54     2         Bill Russell      5      19
11     3          Kobe Bryant      4      18
67     3           Bob Pettit      4      18
82     3     Wilt Chamberlain      4      18
79     3        Julius Erving      4      18
46     7     Shaquille O'Neal      3      14
35     7         Moses Malone      3      14
27     7       Michael Jordan      3      14
25     7        Magic Johnson      3      14
24     7         LeBron James      3      14
52     7      Oscar Robertson      3      14
9      7           Larry Bird      3      14
81     7         Nikola Jokić      3      14
23    15        Allen Iverson      2       6
34    15          Karl Malone      2       6
38    15         George Mikan      2       6
68    15          Willis Reed      2       6
43    15           Steve Nash      2       6
58    15         Isiah Thomas      2       6